In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame(
                columns=[
                'title',
                'users',
                'ratings_count']             
            )
dataframe.to_csv("blog.csv")

In [3]:
df = pd.read_csv("blog.csv",index_col=0)
df.head()

Empty DataFrame
Columns: [title, users, ratings_count]
Index: []

In [4]:
import numpy
df.index = [x for x in range(1, len(df.values)+1)]
df['title'] = ['Oneday','Twoday','Threeday']
df['users'] = ['Khoa','Nguyenoccho','longvision']
df['date'] = pd.date_range(start='26/05/2020', end='28/05/2020')
df['ratings_count'] = numpy.random.uniform(0, 5)

In [5]:
df.head()

      title        users  ratings_count       date
0    Oneday         Khoa       4.918754 2020-05-26
1    Twoday  Nguyenoccho       4.918754 2020-05-27
2  Threeday   longvision       4.918754 2020-05-28

In [6]:
df.index.name = 'id'

In [7]:
df.head()

       title        users  ratings_count       date
id
0     Oneday         Khoa       4.918754 2020-05-26
1     Twoday  Nguyenoccho       4.918754 2020-05-27
2   Threeday   longvision       4.918754 2020-05-28

In [8]:
df.to_csv('blog.csv')

In [10]:
df1 = pd.read_csv('blog.csv',index_col=0)
df1.head()

       title        users  ratings_count        date
id
0     Oneday         Khoa       4.918754  2020-05-26
1     Twoday  Nguyenoccho       4.918754  2020-05-27
2   Threeday   longvision       4.918754  2020-05-28